<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div class="form">
  <div class="form_content">
    <p class="form_content_text">Логин</p>
    <form class="form_style" action="#" method="post">
      <label>Введите Ваш логин </label>
      <input type="email" name="auth_email" placeholder="Введите Ваш логин" required >
      <label>Введите Ваш пароль</label>
      <input type="password" name="auth_pass" placeholder="Введите пароль" required >
      <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
    </form>
  </div>
</div>

</body>
</html>