<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>

<body>

    <link rel="stylesheet" href="{% static 'blog/style/style.css' %}">

    <header></header>
    <main>
        <div class="wrapper">
            <h1 class="title title--h1">Блог</h1>


            {% for article in articles %}
            <div class="card">
                <div class="col-l">
                    <img class="card_img" src="{{ article.image.url }}" alt="">
                </div>
                <div class="col-r">
                    <a class="title card_title" ref="{% url 'detail' article.id %}">{{ article.title }}</a>
                    <p class="card_date">{{ article.date }}</p>
                    <p class="card_desc">{{ article.desc|truncatechars:250 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>

</html>